<h1>Hi there,</h1>
<p>Thank you so much for choosing Midman.io to retrieve your data. You just made a full step inside the growth hacking world.</p>
<p>Your report is ready and here is a quick summary:</p>
<ul>
    <li>The targeted repository contains <%= totalUsers %> users</li>
    <li><%= emailRatio%>% of this list provided their email address</li>
    <li>You could leverage this network to reach a potential of <%= secondLevelNetworkSize %> persons</li>
</ul>
<p>Of course, this is just an highlight of the data. To access the full extent, follow <a href="<%= summaryUrl%>">this link</a></p>

<p>Feel free to reply to this email or follow us <a href="https://twitter.com/midmamio">@midmanio</a></p>
<p>Thanks,</p>

<a href="https://twitter.com/midmamio">The Midman team</a>
